.home-quick-links-container {
  width: 100%;
  padding: 1em; }
  .home-quick-links-container * {
    box-sizing: border-box; }
  .home-quick-links-container:after {
    content: "";
    display: table;
    clear: both; }
  .flexbox .home-quick-links-container {
    display: flex; }
    @media (max-width: 1250px) {
      .flexbox .home-quick-links-container {
        flex-wrap: wrap;
        justify-content: center; } }

.home-quick-link {
  padding: 1em; }
  .no-flexbox .home-quick-link {
    float: left; }
  .home-quick-link img {
    width: 100%; }
  @media (min-width: 900px) {
    .home-quick-link {
      width: 33%; } }
  @media (min-width: 500px) and (max-width: 899px) {
    .home-quick-link {
      width: 50%; } }
  @media (max-width: 500px) {
    .home-quick-link {
      display: block;
      width: 100%;
      margin: 0 auto; }
      .home-quick-link a {
        display: block;
        width: 100%; }
      .home-quick-link img {
        margin: 0 auto; } }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  left: -99999px;
  top: -99999px; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    line-height: normal;
    padding: 15px 23px 14px;
    position: absolute;
    left: 5px;
    top: 5px;
    text-decoration: none;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */ }
